[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-rest-framework = "*"
gunicorn = "*"
ipython = "*"
django-decouple = "*"
django-extensions = "*"
django-jalali-date = "*"

[dev-packages]

[requires]
python_version = "3.10"
